* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --mablue: #00CBBD; 
    --magreen: #00E17C;
    --dark: #000B14;
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
html {
    scroll-behavior: smooth;
  }
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 11, 20, 0.4), rgba(0, 11, 20, 0.4)), url('../Assets/Backg/Bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    /* max-height: 10vh; */
    height: 70px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 4;
    background-color: rgba(0, 11, 14, 0.2);
}
nav img {
    height: 30px;
    width: auto;
}
.navlinks {
    flex: 1;
    text-align: right;
}
.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    max-width: fit-content; 
}
.navlinks ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Urbanist', sans-serif;
}
.navlinks ul li::after {
    content: '';
    width: 0%;
    height: 2.5px;
    background-color: var(--magreen);
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 2px;
    cursor: pointer;
}
.navlinks ul li:hover::after {
    width: 100%;
    transition: 0.4s;
}
.hero, .right, .hero-text {
    display: flex;
}
.hero-img {
    width: auto;
    height: 16vw;
}
.hero-text {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    height: inherit;
}
.right {
    margin-left: 60px;
}
.hero {
    width: 70%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Product Sans';
    font-size: 2.2em;  
    letter-spacing: 1px;
}
.line {
    width: 10px;
    height: inherit;
    background-color: white;
}
.hero-btn {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    width: fit-content;
    align-items: center;
}
.hero-btn img {
    width: 20px;
    height: auto;
}
a {
    text-decoration: none;
}
.hero-btn span {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    
}
nav .close, nav .menu {
    display: none;
}
.about {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 24px;
    background-color: var(--dark);
}
.aboutApp {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 20px;
}
.single {
    display: flex;
    margin-bottom: 10px;
}
.single img {
    width: 20px;
    height: auto;
}
.single p {
    margin-left: 30px;
}
.cards {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover {
    border: 1px solid white;
    transition: 0.4s;
    cursor: pointer;

}
.card img {
    height: 50px;
    width: auto;
    margin: 30px;
}
.card p {
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    font-size: 20px;
    width: fit-content;
}
.card a p {
    color: white;
    text-decoration: none;
}
.guide, .apropos {
    color: white;
    background-color: var(--dark);
    padding: 5vh 0;
    
}
.apropos .content {
    max-width: 80vw;
    margin: auto;
}
.guide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide .content {
    max-width: 70vw;
}
.guide .content h1, .guide .content h2, .guide .content div, .guide .content h1 img {
    padding-top: 7vh;
}
.guide .content div p, .apropos .content div p{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.4rem;
    padding: 5px 0;
    font-weight: 100;
}
h2 {
    font-family: 'Product Sans';
    color: var(--mablue);
    letter-spacing: 1px;
}
.content img {
    width: 70vw;
    margin: auto;
    padding-top: 10px;
}
.members {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    gap: 3vw;
    padding: 10px;
    margin: 20px 0;
}
.gridcol {
    height: 350px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: flex-start;
    border-radius: 15px;
    transition-duration: .6;
}
.gridcol:hover {
    cursor: pointer;
}
.gridcol:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    /* background: linear-gradient(rgba(0, 11, 14, 0.5), rgba(0, 11, 14, 1)); */
    background: linear-gradient(transparent, rgba(0, 11, 14, 1));
    border: solid 1px var(--dark);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.gridcol:hover:before {
    opacity: 1;
}
.gridcol .nom {
    /* margin: 20px; */
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 3;
    /* transform: translateY(-30px); */
    transition: 0.5s all;
    opacity: 0;
    color: #fff;
    font-family: 'Product Sans';
    font-size: 22px;
    /* left: 3%; */
    font-weight: 500;
}
.gridcol:hover .nom {
    /* transform: translateY(0px); */
    opacity: 1;
    bottom: 40px;
    /* margin-top: 80%; */
}
@media(min-width: 750px) {
    nav .menu {
        display: none;
    }
}
@media(max-width: 1000px) {
    .hero h1 {
        font-size: 24px;
    }
    .members {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media(max-width: 750px) {
    .hero {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    .hero h1 {
        font-size: 24px;
    }
    .hero-img {
       width: 40vw;
       height: auto;
       margin-bottom: 20px;
    }
    .right, .hero-text {
        margin-left: 0;
    }
    .line {
        display: none;
    }
    .navlinks ul li {
        display: block;
    }
    .navlinks {
        position: absolute;
        background: rgba(0, 0, 0, 0.85);
        height: 100vh;
        width: 50vw;
        top: 0;
        right: -50vw;
        text-align: left;
        z-index: 4;
        transition-duration: .5s;
    }
    nav .close, nav .menu {
        display: block;
        margin: 10px;
        cursor: pointer;
    }
    nav .close img, nav .menu img{
        width: 30px;
        height: auto;
    }
    .navlinks ul {
        padding: 10px;
    }
    .navlinks ul li{
        margin: 10px;
    }
    .about {
        font-size: 18px;
    }
    .aboutApp {
        width: 80%;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        margin-bottom: 10px;
    }
    .members {
        grid-template-columns: minmax(0, 1fr);
    }
}